* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.select {
    color: #fff;
    /* background-color: rgb(41, 40, 40); */
}

.select .button {
    background-color: rgb(41, 40, 40);
    color: #fff;
    width: 8rem;
    height: 2rem;
    margin: 1rem 1rem 0 1rem;
    padding: .4rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.select .button:hover {
    background-color: rgb(58, 55, 55);
}

.list {
    background-color: rgb(58, 56, 56);
    width: 8rem;
    text-align: center;
    margin: 0 1rem;
    display: none;
}

li {
    padding: 1rem .4rem;
    cursor: pointer;
    border-bottom: 1px solid rgb(158, 156, 156);
}

.list li:hover {
    background-color: rgb(46, 43, 43);
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #fff;
}

.list.active {
    display: block;
}